/* Universal Selector */
*{
    margin: 0;
    padding: 0;
}
/* Weather Dashboard style */
.WeatherdashBoard{
    background-color: green;
    text-align: center;
    
}
/* Weather Dashboard style for H1 element */
.WeatherdashBoard > h1{
    padding: 30px;
    color: white;
}
/* Main container which wraps all the elements after FOOTER */
.flex-container{
    display: flex;
    background-color: yellow;

    
}
/* It selects the left Side Bar under FLEX CONTAINER CLASS */
.sideBarLeft{
    
    width: 20%;;
    background-color: green;
}
/* Selecting RIGHT SIDE BAR which is under FLEX CONTAINER */
.sideBarRight{
    
    width: 80%;
    background-color: rgb(99, 198, 132);
}
/* Targeting STATE WEATHER INFO class and applying styles. */
.stateWeatherinfo{
    height: 150px;
    border: 1px solid white;
    padding: 30px;
}
/* Selecting TAG H2 which under STATE WEATERINFO class and applying paddings. */
.stateWeatherinfo > h2, p{
    padding: 10px;
}
/* Targeting STATE LISTS class and apply Text align property, text color property, and padding */
.stateLists{
    text-align: center;
    color: white;
    padding: 10px;
}
/* Selecting H3 element which is under STATE LIST Class and apply padding property */
.stateLists > h3{
    padding: 10px;
}
/* Targeting INPUT AND BUTTON Elements which are under CLASS SEARCH BAR and applying styles for both INPUT AND BUTTON elements */
.searchBar > input, button{
    margin: auto;
    display: block;
    padding: 10px;
    margin: 10px auto;

    
    
}
/* Selecting H2 element which is under the class of SEARCH BAR and applying COLOR, TEXT ALIGHN, PADDING, AND MARGIN properties */
.searchBar > h2{
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px auto;

}
/* Selecting class FIVE DAYS FORECAST and applying DISPLAY, BACKGROUND COLOR, HEIGHT, BORDER AND PADDING Properties. */
.fiveDaysForcast{
    display: block;
    background-color: rgb(253, 246, 246);
    height: auto;
    border: 1px solid white;
    padding: 30px;
        
}
/* Targetting H2 and DIV which are under the CLASS of Five Days Forecast and applying styles for these two elemetns. */
.fiveDaysForcast > h2, div{
    padding: 10px;
    
}
/* Selecting FIVE DAYS FORECAST box and make it responsive by setting the Display property to FlexBox */
.fiveDaysForcastBoxes{
    display: flex;
    
}
/* Applying style for the DIV which is under the FIVE DAYS FORECAST BOXES CLASS. */
.fiveDaysForcastBoxes > div{
    height: 300px;
    width: 100%;
    background-color: rgb(99, 198, 132);
    margin: 15px;
    color: white;
    text-align: center;
}
/* Selecting Class Images and applying Height and Wight property. */
.images{
    height: 140px;
    width: 100%;

}
