/* Universal Selector */
*{
    margin: 0;
    padding: 0;
}
/* Weather Dashboard style */
.WeatherdashBoard{
    background-color: green;
    text-align: center;
    
}
/* Weather Dashboard style for H1 element */
.WeatherdashBoard > h1{
    padding: 30px;
    color: white;
}
/* Main container which wraps all the elements after FOOTER */
.flex-container{
    display: flex;
    background-color: yellow;

    
}
/* It selects the left Side Bar under FLEX CONTAINER CLASS */
.sideBarLeft{
    
    width: 20%;;
    background-color: green;
}
/* Selecting RIGHT SIDE BAR which is under FLEX CONTAINER */
.sideBarRight{
    
    width: 80%;
    background-color: rgb(99, 198, 132);
}
.stateWeatherinfo{
    height: 150px;
    border: 1px solid white;
    padding: 30px;
}
.stateWeatherinfo > h2, p{
    padding: 10px;
}

.stateLists{
    text-align: center;
    color: white;
    padding: 10px;
}
.stateLists > h3{
    padding: 10px;
}
.searchBar > input, button{
    margin: auto;
    display: block;
    padding: 10px;
    margin: 10px auto;

    
    
}
.searchBar > h2{
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px auto;

}
.fiveDaysForcast{
    display: block;
    background-color: rgb(253, 246, 246);
    height: auto;
    border: 1px solid white;
    padding: 30px;
        
}
.fiveDaysForcast > h2, div{
    padding: 10px;
    
}
.fiveDaysForcastBoxes{
    display: flex;
    
}
.fiveDaysForcastBoxes > div{
    height: 300px;
    width: 100%;
    background-color: rgb(99, 198, 132);
    margin: 15px;
    color: white;
    text-align: center;
}
.images{
    height: 140px;
    width: 100%;

}
